# Virtual Environments & Caches
venv/
.venv/
__pycache__/
*.pyc
.pytest_cache/

# Local configuration
.env
*.json

# Documentation, Tests & Infrastructure
docs/
tests/
test/
terraform/
clean_up/
locustfile.py
Dockerfile*
.dockerignore
.gitignore
.gcloudignore
.github/
README.md