# Python Virtual Environments & Packages
venv/
.venv/
env/
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Environment Variables & Secrets
.env
.env.*
*.json
!credentials-template.json

# Terraform State & Plugins (Crucial for Phase 3!)
**/.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
crash.log

# IDE & OS Specific
.vscode/
.idea/
.DS_Store
Thumbs.db